<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Digital Image Processing Project : ImageNet Classification (1000 classes)</div>
    <p>
      Upload any image you wish to classify by clicking on "Select Image", and click on "Analyze" to see the Convolutional Neural Network output for your image. Be prepared to be amazed by the preciseness of the predicted label.
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>  
</body>
<footer>
  <p>Created by: Pranjal Ranjan</p>
  <p>ID No: 161090046
  <p>Contact information: <a href="pranjalranjan@hotmail.com">
  pranjalranjan@hotmail.com</a>.</p>
</footer>
</html>
